#!/usr/bin/env bash

# Specify user and group that you wish use for that service.
#USER=nobody
#GROUP=nobody

# Specify different path for log file if you want.
#LOG_FILE=/var/log/openvpn-status-ws.log
